[Desktop Entry]
Version=1.0
Type=Application
Name=Napari 0.4.x
Exec=/bin/bash -c "exec napari"
Icon=/home/jovyan/resources/icon.ico
Path=/home/jovyan/Desktop
