sphinx-autobuild
sphinx-tabs
sphinx-tags
sphinx-design
sphinx-external-toc
sphinx-favicon>=1.0
sphinx-copybutton
sphinx-gallery
sphinx_autodoc_typehints==1.12.0
myst-nb
napari-sphinx-theme>=0.3.0
matplotlib
lxml
imageio-ffmpeg
