on:
  push:
    branches:
      - main
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'  # accept all tags of the format vX.X.X

name: Publish Docs

jobs:
  copy:
    name: Copy Doc Sources
    runs-on: ubuntu-latest
    if: github.repository == 'napari/napari'
    steps:
      - name: Clone main repo
        uses: actions/checkout@main
        with:
          path: main      # place in a named directory
      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - uses: tlambert03/setup-qt-libs@v1
      - name: Install Dependencies
        working-directory: main
        run: |
          pip install --upgrade pip
          pip install -e .[all]
          pip install -r docs/requirements.txt
      - name: Prep docs
        uses: GabrielBB/xvfb-action@v1
        with:
          run: python main/docs/_scripts/prep_docs.py
      - name: Clone napari.github.io repository
        uses: actions/checkout@main
        with:
          repository: 'napari/napari.github.io'
          ref: main
          path: 'napari.github.io'
          token: ${{ secrets.DOCS_GITHUB_TOKEN }}
      - name: copy doc sources
        working-directory: main/docs
        run: python -m copy-docs
      - name: update repo
        uses: EndBug/add-and-commit@v4
        with:
          message: |
            update doc sources
            autogenerated from ${{ github.repository }}@${{ github.sha }}
          ref: main
          add: .
          cwd: ./napari.github.io
        env:
          GITHUB_TOKEN: ${{ secrets.DOCS_GITHUB_TOKEN }}

  build:
    name: Build & Publish Docs
    runs-on: ubuntu-latest
    if: github.repository == 'napari/napari'
    steps:
      - name: Clone main repo
        uses: actions/checkout@main
        with:
          fetch-depth: 0  # keep all commit history
          path: main      # place in a named directory
      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - uses: tlambert03/setup-qt-libs@v1
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -e ".[all]"
        working-directory: main
      - name: Build Docs
        uses: GabrielBB/xvfb-action@v1
        with:
          run: make -C main docs

      - name: Clone docs repo
        uses: actions/checkout@main
        with:
          repository: 'napari/docs'
          ref: master
          path: docs
          token: ${{ secrets.DOCS_GITHUB_TOKEN }}
      - name: Get tag if is a release
        uses: olegtarasov/get-tag@v2.1
        with:
          tagRegex: "v(.*)"  # remove the leading v
        continue-on-error: true  # sets $GIT_TAG_NAME when successful
      - name: Copy docs to docs repo
        id: cp
        run: |
          VER=${GIT_TAG_NAME:-dev}
          DIR=./docs/$VER
          rm -rf $DIR
          cp -r ./main/docs/_build/html $DIR
          echo "::set-output name=directory::$VER"
      - name: Add & commit changes
        uses: EndBug/add-and-commit@v4
        with:
          message: |
            update ${{ steps.cp.outputs.directory }} docs
            autogenerated from ${{ github.repository }}@${{ github.sha }}
          ref: master
          add: ${{ steps.cp.outputs.directory }}
          cwd: ./docs
        env:
          GITHUB_TOKEN: ${{ secrets.DOCS_GITHUB_TOKEN }}
