on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10
  pull_request:
    paths:
      - .github/workflows/make_release.yml

name: Create Release

jobs:
  build:
    permissions:
      contents: write
      id-token: write
    name: Create Release
    runs-on: ubuntu-latest
    if: github.repository == 'napari/napari'
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Checkout docs
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: napari/docs
          path: docs

      - name: Install Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: 3.12
          cache-dependency-path: pyproject.toml
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -e .[build]  # need full install so we can build type stubs
      - name: Build Distribution
        run: make dist
      - name: Find Release Notes
        id: release_notes
        run: |
          TAG="${GITHUB_REF/refs\/tags\/v/}"  # clean tag
          VER="${TAG/a*/}"  # remove alpha identifier
          VER="${VER/b*/}"  # remove beta identifier
          VER="${VER/rc*/}"  # remove rc identifier
          VER="${VER/post*/}"  # remove post identifier
          RELEASE_NOTES_PATH="docs/docs/release/release_${VER//./_}.md"

          echo "tag=${TAG}" >> "$GITHUB_ENV"
          echo "release_notes_path=${RELEASE_NOTES_PATH}" >> "$GITHUB_ENV"
          echo tag: "${TAG}"
          echo release_notes_path: "${RELEASE_NOTES_PATH}"
          ls docs/docs/release

      - name: Create Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
        with:
          tag_name: ${{ github.ref }}
          name: ${{ env.tag }}
          body: pre-release ${{ env.tag }}
          body_path: ${{ env.release_notes_path }}
          draft: false
          prerelease: ${{ contains(env.tag, 'rc') || contains(env.tag, 'a') || contains(env.tag, 'b') }}
          target_commitish: ${{ github.sha }}
          files: |
            dist/*
      - name: Publish PyPI Package
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
