name: Build wheel workflow
on:
  workflow_call:

jobs:
  build_wheel:
    name: Build wheel
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
          cache: "pip"
          cache-dependency-path: pyproject.toml

      - name: Install Dependencies
        run: |
          pip install --upgrade pip
          pip install build wheel

      - name: Build wheel
        run: |
          python -m build --outdir dist/

      - name: Upload wheel
        uses: actions/upload-artifact@v4
        with:
          name: wheel
          path: dist/*.whl
