name: Build wheel workflow
on:
  workflow_call:

jobs:
  build_wheel:
    name: Build wheel
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Set up Python 3.12
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3.12
          cache: "pip"
          cache-dependency-path: pyproject.toml

      - name: Install Dependencies
        run: |
          pip install --upgrade pip
          pip install build wheel

      - name: Build wheel
        run: |
          python -m build --outdir dist/

      - name: Upload wheel
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: wheel
          path: dist/*.whl
