name: Test typing

on:
  pull_request:
    branches:
      - main

jobs:
  typing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v4
        with:
          python-version: 3.9
      - name: Install napari
        run: |
          pip install mypy types-PyYAML types-setuptools
          SETUPTOOLS_ENABLE_FEATURES="legacy-editable" pip install -e .[all]

      - name: Run mypy on typed modules
        run: make typecheck
  typestub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v4
        with:
          python-version: 3.9
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -e .[build]  # need full install so we can build type stubs
      - name: rub type stub generation
        run: make typestubs
