name: Test typing

on:
  pull_request:
    branches:
      - main

jobs:
  typing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v4
        with:
          python-version: 3.9
      - name: Install napari
        run: |
          pip install mypy types-PyYAML types-setuptools
          pip install -e .[all]

      - name: Run mypy on typed modules
        if: ${{ false }}
        run: make typecheck
