# The Comprehensive test suite, which will be run anytime anything is merged into main.
# See test_pull_request.yml for the tests that will be run
name: Comprehensive Test

on:
  push:
    branches:
      - main
      - "v*x"
    tags:
      - "v*" # Push events to matching v*, i.e. v1.0, v20.15.10
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  COLUMNS: 120

concurrency:
  group: comprehensive-test

jobs:
  manifest:
    name: Check Manifest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.8
        uses: actions/setup-python@v4
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install check-manifest
      - name: Check Manifest
        run: check-manifest

  test:
    name: ${{ matrix.platform }} py${{ matrix.python }} ${{ matrix.toxenv }} ${{ matrix.MIN_REQ && 'min_req' }}
    timeout-minutes: 60
    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest, windows-latest]
        python: ["3.8", "3.9", "3.10"]
        backend: [pyqt5, pyside2]
        include:
          - python: 3.9
            platform: macos-latest
            backend: pyqt5
          # test with minimum specified requirements
          - python: 3.8
            platform: ubuntu-20.04
            backend: pyqt5
            MIN_REQ: 1
          # test with --async_only
          - python: 3.8
            platform: ubuntu-20.04
            toxenv: async-py38-linux-pyqt5
          # test without any Qt backends
          - python: 3.8
            platform: ubuntu-20.04
            toxenv: headless-py38-linux


    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.11.0
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
          cache: "pip"
          cache-dependency-path: setup.cfg

      - uses: tlambert03/setup-qt-libs@v1

      # strategy borrowed from vispy for installing opengl libs on windows
      - name: Install Windows OpenGL
        if: runner.os == 'Windows'
        run: |
          git clone --depth 1 https://github.com/pyvista/gl-ci-helpers.git
          powershell gl-ci-helpers/appveyor/install_opengl.ps1
          if (Test-Path -Path "C:\Windows\system32\opengl32.dll" -PathType Leaf) {Exit 0} else {Exit 1}

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install setuptools tox tox-gh-actions
          python tools/minreq.py  # no-op if MIN_REQ is not set
        env:
          MIN_REQ: ${{ matrix.MIN_REQ }}

      # here we pass off control of environment creation and running of tests to tox
      # tox-gh-actions, installed above, helps to convert environment variables into
      # tox "factors" ... limiting the scope of what gets tested on each platform
      # The one exception is if the "toxenv" environment variable has been set,
      # in which case we are declaring one specific tox environment to run.
      # see tox.ini for more
      - name: Test with tox
        uses: aganders3/headless-gui@v1
        with:
          run: python -m tox
        env:
          PLATFORM: ${{ matrix.platform }}
          BACKEND: ${{ matrix.backend }}
          TOXENV: ${{ matrix.toxenv }}
          NUMPY_EXPERIMENTAL_ARRAY_FUNCTION: ${{ matrix.MIN_REQ || 1 }}
          PYVISTA_OFF_SCREEN: True
          MIN_REQ: ${{ matrix.MIN_REQ }}
          PIP_CONSTRAINT: tools/constraints/constraints_py${{ matrix.python }}.txt

      - name: Coverage
        uses: codecov/codecov-action@v3

      - name: Report Failures
        if: ${{ failure() }}
        uses: JasonEtco/create-an-issue@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PLATFORM: ${{ matrix.platform }}
          PYTHON: ${{ matrix.python }}
          BACKEND: ${{ matrix.toxenv }}
          RUN_ID: ${{ github.run_id }}
          TITLE: "[test-bot] Comprehensive tests failing"
        with:
          filename: .github/TEST_FAIL_TEMPLATE.md
          update_existing: true

  test_pip_install:
    name: ubuntu-latest 3.9 pip install
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          path: napari-from-github

      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: 3.9
          cache: "pip"
          cache-dependency-path: napari-from-github/setup.cfg

      - uses: tlambert03/setup-qt-libs@v1

      - name: Install this commit
        run: |
          pip install --upgrade pip
          pip install ./napari-from-github[all,testing]

      - name: Test
        uses: aganders3/headless-gui@v1
        with:
          run: python -m pytest --pyargs napari --color=yes
        env:
          PIP_CONSTRAINT: tools/constraints/constraints_py3.9.txt

  test_examples:
    name: test examples
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.9
      - uses: tlambert03/setup-qt-libs@v1
      - name: Install this commit
        run: |
          pip install --upgrade pip
          pip install setuptools tox tox-gh-actions

      - name: Test
        uses: aganders3/headless-gui@v1
        with:
          run: tox -e py39-linux-pyside2-examples
        env:
          PIP_CONSTRAINT: tools/constraints/constraints_py3.9.txt
