name: Type-check

on:
  pull_request:
    branches:
      - main

concurrency:
  group: typing-${{ github.ref }}
  cancel-in-progress: true

jobs:
  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.12"
          cache-dependency-path: pyproject.toml
      - name: Install tox
        run: |
          pip install tox

      - name: Run mypy on typed modules
        run: tox -e mypy
