# This is a workflow for upgrading test constraints. It is triggered by:
# - On-demand workflow_dispatch
# - weekly schedule (every Monday at 8:00 UTC)
# - issue_comment with text "@napari-bot update constraints"
# - pull_request with changed .github/workflows/upgrade_test_constraints.yml
#
# The GitHub workflows have the following limitations:
# - There is no pull request comment trigger for workflows.
#   The `issue_comment` trigger is used instead, because it is used for pull requests too.
# - If a workflow is triggered by pull_requests from forked repository,
#   then it does not have access to secrets.
#   So it is not possible to create PR from forked repository.
# - If workflow is triggered by issue comment, then it is triggered on the main branch
#   and not on the branch where the comment was created.
# - In workflow triggers it is only possible to depend on created event, without any conditions.
#   So it is not possible to trigger workflow only when the comment contains specific text.
#   So we need to check it in the workflow.
#   It will produce multiple empty runs that will create multiple empty entries in actions
#   making it harder to find the right one.
# - It is not possible to update pull request from forked repository using Fine grained personal token.
# - It is not possible to create pull request to forked repository using Fine grained personal token.
# - There is no interface indicator that the workflow triggered by issue comment is running.
#
# Also, for safety reason, it is better to store automatically generated changes outside the main repository.
#
# Because of the above limitations, the following approach is used:
# - We use `napari-bot/napari` repository to store automatically generated changes.
# - We don't push changes to `napari-bot/napari` repository if PR contains changes in workflows.
# - We use two checkouts of repository:
#   * First into `.` directory from which we run the workflow.
#   * Second into `napari_repo` directory from which we create pull request.
#     If comment triggers the workflow, then this will contain the branch from which the PR was created.
#     Changes will be pushed to `napari-bot/napari` repository.
#     If schedule or workflow_dispatch triggers workflow, then this will contain the main branch.
#     Changes will not be pushed to `napari/napari` repository.
#     If pull_request triggers workflow, then this will contain PR branch.
#     Changes will be only accessible as artifacts.
# - If workflow is triggered by issue comment,
#   then we add eyes reaction to the comment to show that workflow has started.
#   After finishing calculation of new constraints, we add rocket reaction to the comment.
#   Then pushing changes to `napari-bot/napari` repository and adding comment to the PR is
#   done by `tools/create_pr_or_update_existing_one.py`.
name: Upgrade test constraints

on:
  workflow_dispatch: # Allow running on-demand
  schedule:
    # Runs every Monday at 8:00 UTC (4:00 Eastern)
    - cron: '0 8 * * 1'

  issue_comment:
    types: [ created ]

  pull_request:
    paths:
      - '.github/workflows/upgrade_test_constraints.yml'

jobs:
  upgrade:
    permissions:
      pull-requests: write
      issues: write
    name: Upgrade & Open Pull Request
    if: (github.event.issue.pull_request != '' && contains(github.event.comment.body, '@napari-bot update constraints')) || github.event_name == 'workflow_dispatch' || github.event_name == 'schedule' || github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - name: Add eyes reaction
        # show that workflow has started
        if: github.event_name == 'issue_comment'
        run: |
          COMMENT_ID=${{ github.event.comment.id }}
          curl \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            "https://api.github.com/repos/${{ github.repository }}/issues/comments/$COMMENT_ID/reactions" \
            -d '{"content": "eyes"}'

      - name: Get PR details
        # extract PR number and branch name from issue_comment event
        if: github.event_name == 'issue_comment'
        run: |
          PR_number=${{ github.event.issue.number }}
          PR_data=$(curl \
              -H "Accept: application/vnd.github.v3+json" \
              "https://api.github.com/repos/${{ github.repository }}/pulls/$PR_number" \
          )

          FULL_NAME=$(echo "${PR_data}"  | jq -r .head.repo.full_name)
          echo "FULL_NAME=$FULL_NAME" >> "$GITHUB_ENV"

          BRANCH=$(echo "${PR_data}"  | jq -r .head.ref)
          echo "BRANCH=$BRANCH" >> "$GITHUB_ENV"

        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Get repo info
        # when schedule or workflow_dispatch triggers workflow, then we need to get info about which branch to use
        if: github.event_name != 'issue_comment' && github.event_name != 'pull_request'
        run: |
          echo "FULL_NAME=${{ github.repository }}" >> "$GITHUB_ENV"
          echo "BRANCH=${{ github.ref_name }}" >> "$GITHUB_ENV"

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Clone target repo (remote)
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        if: github.event_name == 'issue_comment'
        with:
          path: napari_repo  # place in a named directory
          repository: ${{ env.FULL_NAME }}
          ref: ${{ env.BRANCH }}
          token: ${{ secrets.GHA_TOKEN_BOT_REPO }}

      - name: Clone target repo (pull request)
        # we need separate step as passing empty token to actions/checkout@v4 will not work
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        if: github.event_name == 'pull_request'
        with:
          path: napari_repo  # place in a named directory

      - name: Clone target repo (main)
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        if: github.event_name != 'issue_comment' && github.event_name != 'pull_request'
        with:
          path: napari_repo  # place in a named directory
          repository: ${{ env.FULL_NAME }}
          ref: ${{ env.BRANCH }}
          token: ${{ secrets.GHA_TOKEN_BOT_REPO }}

      - name: Add napari-bot/napari to napari_repo upstreams
        run: |
          cd napari_repo
          git remote -v
          git remote add napari-bot https://github.com/napari-bot/napari.git
          git remote -v

      # START PYTHON DEPENDENCIES
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.12"
          cache: pip
          cache-dependency-path: 'pyproject.toml'

      - name: Upgrade Python dependencies
        # ADD YOUR CUSTOM DEPENDENCY UPGRADE COMMANDS BELOW
        run: |
          set -x
          pip install -U uv

          bash tools/compile_constraints.sh

      - name: Show changed constraints
        run: |
          git --no-pager diff napari_repo/resources/**.txt

      # END PYTHON DEPENDENCIES

      - name: Upload constraints
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: constraints
          path: |
            napari_repo/resources/constraints/constraints*.txt
            napari_repo/resources/constraints/*mypy.txt

      - name: Check builtin extensions
        run: uv run tools/check_extensions.py --ci
        env:
          UV_CONSTRAINT: napari_repo/resources/constraints/constraints_py3.12.txt

      - name: Add rocket reaction
        # inform that new constraints are available in artifacts
        if: github.event_name == 'issue_comment'
        run: |
          COMMENT_ID=${{ github.event.comment.id }}
          curl \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            "https://api.github.com/repos/${{ github.repository }}/issues/comments/$COMMENT_ID/reactions" \
            -d '{"content": "rocket"}'

      - name: Create commit
        run: |
          pip install requests
          python tools/create_pr_or_update_existing_one.py
        env:
            GHA_TOKEN_MAIN_REPO: ${{ secrets.GHA_TOKEN_NAPARI_BOT_MAIN_REPO }}
            PR_NUMBER: ${{ github.event.issue.number }}
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
